* text=auto eol=lf

*.ftn text eol=lf
*.ftn90 text eol=lf
*.c text eol=lf
*.pl text eol=lf
*.sh text eol=lf
Makefile text eol=lf
*.md text eol=lf

*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.nc binary
*.zip binary
*.tar binary
*.gz binary
*.7z binary
